<!DOCTYPE html>
<html>

    <head>
        <title>My Website</title>
        <link rel="stylesheet" href="../static/css files/about.css">
    </head>



    <!--#####################  NAVIGATION BAR  #########################-->
    <body>
        <nav>
            <ul class="topnav" id="dropmenu">
                <li><a href="/homelogin">Home</a></li>
                <li><a href="/categories">Courses</a></li>
                <li><a href="/about">About us</a></li> 
                <li class="dropdown"><a href="javascript:void(0);"
                   | onclick="dropnav()">&#9776;</a></li>
                
            </ul>
        </nav>
        <div class="sec1">
            <p class="para">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus placeat recusandae fuga tenetur excepturi 
                |veritatis et est perspiciatis, neque fugiat reiciendis delectus doloremque culpa? Voluptatem magnam nam 
                |incidunt nulla quidem, iusto sequi sint. Minus dolore magnam, veritatis nostrum omnis est non nulla quam
                |porro earum eum at reiciendis fugiat fuga autem voluptatibus aliquam deserunt tenetur adipisci perspiciatis
                |eius in. Ut molestias repellendus excepturi sed aspernatur ullam odio, commodi harum nisi, perferendis in
                |consequunturvero dolorem voluptatem quod eos ab tempora perspiciatis! Minus fugiat nobis temporibus rem 
                |laborum,sunt,nulla explicabo voluptates reiciendis adipisci in dolor ipsa dignissimos animi similique
                |velit commodi. Molestias, ullam mollitia dolor dicta dolorum repudiandae ipsam, aperiam itaque earum,
                |fugit eius! Quas reprehenderit incidunt totam tempora ea officia expedita dicta consequuntur, sunt 
                |beatae dolores fugit optio aperiam. Quam atque similique sit fugit nam magnam eaque, doloremque accusamus
                |quidem excepturi ullam eius maxime ipsum ipsa minus sed beatae quo corrupti sunt! Excepturi a reprehenderit
                |inventore fugit itaque exercitationem molestias blanditiis eaque alias, voluptates possimus! Rerum fuga,
                |obcaecati recusandae architecto distinctio illum hic? Ipsa optio est reprehenderit exercitationem at 
                |vero et tempore quidem iure quisquam vitae quae, magni deleniti sunt commodi corrupti ex quibusdam 
                |illum unde ratione maiores tenetur aspernatur velit inventore. Dicta accusamus dignissimos ipsum 
                |atque natus, esse unde commodi asperiores tempora voluptatem, ab voluptas maxime porro fuga! 
                |Nesciunt harum cumque voluptatem veniam beatae repellat! Voluptatem atque officia saepe asperiores 
                |enim laboriosam quis minus in vel, voluptate ducimus repellat nisi corporis omnis id explicabo 
                |reprehenderit ipsa. Accusamus, unde molestias! Magnam non quisquam libero nemo ipsa maxime corrupti
                |nobis excepturi consectetur! Neque illum aut ratione quaerat, eos, quisquam praesentium perspiciatis
                |distinctio eveniet voluptates autem. Architecto, saepe suscipit, voluptatem ullam iure dolore possimus
                |consectetur inventore debitis, expedita 
                |plicabo nesciunt eum ratione repellat dolores nulla neque eius iste quasi repudiandae exercitationem.</p>
        </div>
    </body>
</html>