<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css files/categories.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul class="topnav" id="dropmenu">
            <li><a href="/homelogin">Home</a></li>
            <li><a href="#course">Courses</a></li>
            <li><a href="#stuff">My Stuff</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/about">About us</a></li> 
            <li class="dropdown"><a href="javascript:void(0);" onclick="dropnav()">&#9776;</a></li>
            <li class="bar" id="logout"><a href="/">Logout</a></li>
            <li class="bar"><input type="text" placeholder="Search for courses"></li>
        </ul>
    </nav>
    <div class="container" id="catbox">
        <div class="card" style="width: 21rem;">
            <img class="card-img-top" src="/static/image files/best.png" alt="Card image cap">
            <div class="card-body">
              <h3 class="Electronics">Electronics</h3>
              
              <a href="/electronics" class="btn btn-primary">See Courses</a>
            </div>
        </div>
        <div class="card" style="width: 21rem;">
            <img class="card-img-top" src="/static/image files/bricks.jpg" alt="Card image cap">
            <div class="card-body">
              <h3 class="Computer">Computer</h3>
              
              <a href="/computer" class="btn btn-primary">See Courses</a>
            </div>
        </div>
        <div class="card" style="width: 21rem;">
            <img class="card-img-top" src="/static/image files/important.jpg" alt="Card image cap">
            <div class="card-body">
              <h3 class="Science">Science</h3>
              
              <a href="/science" class="btn btn-primary">See Courses</a>
            </div>
        </div>
    </div>
    <div class="container" id="catbox">
        <div class="card" style="width: 21rem;">
            <img class="card-img-top" src="/static/image files/free.png" alt="Card image cap">
            <div class="card-body">
              <h3 class="Language">Language</h3>
             
              <a href="/language" class="btn btn-primary">See Courses</a>
            </div>
        </div>
        <div class="card" style="width: 21rem;">
            <img class="card-img-top" src="/static/image files/learn.jpg" alt="Card image cap">
            <div class="card-body">
              <h3 class="Mathematics">Mathematics</h3>
             
              <a href="/mathematics" class="btn btn-primary">See Courses</a>
            </div>
        </div>
        <div class="card" style="width: 21rem;">
            <img class="card-img-top" src="/static/image files/OIP.jpg" alt="Card image cap">
            <div class="card-body">
              <h3 class="Other">Other</h3>
              
              <a href="/other" class="btn btn-primary">See Courses</a>
            </div>
        </div>
    </div>
</body>
</html>