<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css files/faculty.css">
    <title>Document</title>
</head>
<body id="body">
    <script>
        |document.addEventListener("DOMContentLoaded", () => {
        |//    window.post = function(usr) {
        |//    return fetch("/profile", {method: "POST"});
        |//   console.log("domloaded")
        |//       }
        |});
        </script>

        <script  src="https://www.gstatic.com/firebasejs/8.0.0/firebase-app.js"></script>
        <script  src="https://www.gstatic.com/firebasejs/8.0.0/firebase-analytics.js"></script>
        <script  src="https://www.gstatic.com/firebasejs/8.0.0/firebase-auth.js"></script>
        <script  src="https://www.gstatic.com/firebasejs/8.0.0/firebase-firestore.js"></script>
        <script type = module>
        |      const firebaseConfig = {
        |           apiKey: "AIzaSyC2HnKPOcJuoQRHLy_qPlQHsEdPOmTcDIQ",
        |          authDomain: "m2learning.firebaseapp.com",
        |          databaseURL: "https://m2learning-default-rtdb.firebaseio.com",
        |          projectId: "m2learning",
        |          storageBucket: "m2learning.appspot.com",
        |          messagingSenderId: "169205910629",
        |          appId: "1:169205910629:web:dcff87a56454550e244a8c",
        |          measurementId: "G-JTTX230017"
        |        };
        |     // Initialize Firebase
        |    firebase.initializeApp(firebaseConfig);
               
        </script>
        
        <script type = module>
        |   const auth = firebase.auth();
        |   auth.onAuthStateChanged(user => {
        |      if (user) {
        |        // User is signed in, see docs for a list of available properties
        |        // https://firebase.google.com/docs/reference/js/firebase.User
        |        const uid = user.uid;
        |        console.log("u r logged in");
        |        const bd = document.querySelector('#body');
        |        //#######################################################
        |        //#######################################################
        |        bd.style.display='block';
        |        // ...
        |      } else {
        |        // User is signed out
        |        console.log("u r logged out");
        |        window.location.href = "/";
        |        // ...
        |      }
        |    });
    </script>
    <nav>
        <ul class="topnav" id="dropmenu">
            <li><a href="/homelogin">Home</a></li>
            <li><a href="#course">Courses</a></li>
            <li><a href="/about">About us</a></li> 
            <li><a href="/choose">My Role</a></li>
            <li class="dropdown"><a href="javascript:void(0);"
               | onclick="dropnav()">&#9776;</a></li>
            <li class="topnav-right" id="logout"><a 
               | href="/signup">Logout</a></li>
            <form method="post" action="/search">
                    <button class="bar">Search</button>
                    <input name="cname" class="bar" type="text" placeholder="Search for courses">
            </form>
            
        </ul>
    </nav>
    //- <div class="link"><h2>Faculty Dashboard</h2></div>
    <div class="row">
        <div class="col-4" id="addstudent">

            <form id="user-login" action="/assigncourse" method="post">
                <h2 class="signh1">Assign Course :-</h2>
                <label for="username" class="lbl">Username of student </label>
                <input class="usrinput" type="text" name="studentid" id="usrnmlogin" placeholder="Enter student username">
                <label for="course" class="lbl"> Enter course name </label>
                <input class="usrinput" type="text" name="coursename" id="coursename" placeholder="Enter Course Name">
                <button class="signinbutton">Assign</button>
            </form>
        </div>
        <div class="col-4" id="certify">

            <form id="user-login" action="/assigncertificate" method="post">
                <h2 class="signh1">Assign Certificate :-</h2>
                <label for="username" class="lbl">Username of student </label>
                <input class="usrinput" type="text" name="usrnm" id="usrnmlogin" placeholder="Enter student username">
                <label for="course" class="lbl"> Enter course name </label>
                <input class="usrinput" type="text" name="course" id="course" placeholder="Enter Course Name">
                <button class="signinbutton">Assign</button>
            </form>
        </div>
        <div class="col-4" id="userlogin">

            <form id="user-login" action="/removecourse" method="post">
                <h2 class="signh1">Remove Course :-</h2>
                <label for="username" class="lbl">Username of student </label>
                <input class="usrinput" type="text" name="usrnm" id="usrnmlogin" placeholder="Enter student username">
                <label for="username" class="lbl">Enter Course Name</label>
                <input class="usrinput" type="text" name="coursename" id="usrnmlogin" placeholder="Enter Course Name">
                <div class="dropdown">
                    <button class="dropbtn">Category</button>
                        <div class="dropdown-content">
                            <label for="html"> Remove For Student</label><br>
                            <input type="radio" id="cs" name="option" value="student">
                            <label for="css">Remove From Database</label><br>
                            <input type="radio" id="sci" name="option" value="database">
                        </div>
                </div>
                <button class="signinbutton">Remove</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12" id="addcourse">
            <h2 class="signh1">Add Course :-</h2>
            <form id="chngprof" action="/uploadcourse" method="post">
                    <label for="crsname" class="lbl">Course Name</label>
                    <input class="usrinput" type="text" name="coursename" id="usrnmlogin" placeholder="Enter Course Name">
                    <label for="crsprice" class="lbl">Course Price</label>
                    <input class="usrinput" type="number" name="courseprice" id="usrnmlogin" placeholder="Enter Course Price">
                    <div class="dropdown">
                        <button class="dropbtn">Category</button>
                        <div class="dropdown-content">
                            <input type="radio" id="ece" name="cat" value="electronics">
                            <label for="html">Electronics</label><br>
                            <input type="radio" id="cs" name="cat" value="computer">
                            <label for="css">Computer</label><br>
                            <input type="radio" id="sci" name="cat" value="science">
                            <label for="javascript">Science</label><br><br>
                            <input type="radio" id="maths" name="cat" value="mathematics">
                            <label for="javascript">Mathematics</label><br><br>
                            <input type="radio" id="lang" name="cat" value="language">
                            <label for="javascript">Language</label><br><br>
                            <input type="radio" id="oth" name="cat" value="other">
                            <label for="javascript">Other</label><br><br>
                        </div>
                    </div>
                    <label for="coursedtl" class="lbl">Course Details</label>
                    <textarea class="usrinput" name="coursedes" rows="4" cols="50"></textarea>
                    <button class="signinbutton">Add</button>
            </form>
        </div>
        <div class="mycourse"><a href="/getcourse">My Course </a></div>    
    </div>
    <script type = module>
        |
        |const auth = firebase.auth();
        |const logout = document.querySelector('#logout');
        |logout.addEventListener('click',(e)=>{
        |    e.preventDefault();
        |  
        |   auth.signOut();
        |});
    </script>
    <script src="../static/js files/home.js"></script>
</body>
</html>