<!DOCTYPE html>
<html>

    <head>
        <title>My Website</title>
        <link rel="stylesheet" href="../static/css files/home.css">
    </head>



    <!--#####################  NAVIGATION BAR  #########################-->
    <body>
        <nav>
            <ul class="topnav" id="dropmenu">
                <li><a href="/">Home</a></li>
                <li><a href="/categories">Courses</a></li>
                <li><a href="/about">About us</a></li> 
                <li class="dropdown"><a href="javascript:void(0);"
                   | onclick="dropnav()">&#9776;</a></li>
                <li class="topnav-right"><a 
                   | href="/signup">Sign up</a></li>
                <li class="topnav-right"><a 
                   | href="/signin">Sign in</a></li>
                <form method="post" action="/search">
                    <button class="bar">Search</button>
                    <input name="cname" class="bar" type="text" placeholder="Search for courses">
                </form>
            </ul>
        </nav>


        <!--######################## SECTION 1 Headings ################-->


        <div class="container" id="sec1">
            <div class="row">

                <div class="col-6" id="head">
                   <h1>M<sup>2</sup> Learning</h1>
                   <h1>Learn Together</h1>
                </div>

                <div class="col-6">
                    <ul class="sec1-right">
                        <li><a href="/signup">Sign Up</a></li>
                        <li><a href="/signin">Sign In</a></li>
                    </ul>
                </div>


            </div>
        </div>

            <!--################### Section 2 contact and image  ###########-->


        <div class="container" id="sec2">
            <div class="row">

                <div class="col-0" id="whyus">
                    <h2>Why US?</h2>
                    <ul>
                        <li>Affordable</li>
                        <li>Live Mentoring</li>
                        <li>Fun and exciting</li>
                        <li>Ask doubts easily</li>
                        <li>Vast categories of courses</li>
                        <li>Get all data on your hands</li>
                    </ul>        
                </div>

                <div class="col-7" id="slide">
                    <div class="box">
                        <img src="../static/image files/learn.jpg" alt="LEARN WITH US">
                    </div>
                </div>

                <div class="col-0" id="contus">
                    <div class="contact">
                        <h2>Contact Us</h2>
                        <form action="/contactus" method="post" class="contform">
                            <label for="name">Name</label><br>
                            <input type="text" id="name" name="yourname" placeholder="Your Name"><br>
                            <label for="email">Email</label><br>
                            <input type="email" id="email" name="mail" placeholder="Your Email">
                            <button class="submit">Submit</button>
                        </form>
                        
                    </div>
                </div>
                
            </div> 
        </div>

            <!--************************** SECTION-3 CATEGORIES ***************-->

        <div class="container" id="sec3">
            <div class="row">
                <div class="col-12"><h2>Our Top Categories</h2></div>
                
                <div class="col-4">
                    <div class="catbox">
                        <img src="../static/image files/electronics.jpg" alt="Web Development">
                        <a href="/electronics" class="cat">Electronics</a>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing
                             |elit. Eos aliquam 
                             |corporis quibusdam rerum dolor.</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="catbox">
                        <img src="../static/image files/computer.jpg" alt="Web Development">
                        <a href="/computer" class="cat">Computer</a>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing
                             |elit. Eos aliquam 
                             |corporis quibusdam rerum dolor.</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="catbox">
                        <img src="../static/image files/science.jpg" alt="Web Development">
                        <a href="/science" class="cat">Science</a>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing
                             |elit. Eos aliquam 
                             |corporis quibusdam rerum dolor.</p>
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="col-4">
                    <div class="catbox">
                        <img src="../static/image files/numbers-ga06e21d63_1920.jpg" alt="Web Development">
                        <a href="/mathematics" class="cat">Mathematics</a>
                        <p>Lorem ipsum dolor sit, amet consectetur 
                            |adipisicing elit. Eos aliquam 
                            |corporis quibusdam rerum dolor.</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="catbox">
                        <img src="../static/image files/language.jpg" alt="Web Development">
                        <a href="/language" class="cat">Language</a>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing
                             |elit. Eos aliquam 
                             |corporis quibusdam rerum dolor.</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="catbox">
                        <img src="../static/image files/other.jpg" alt="Web Development">
                        <a href="/other" class="cat">Other</a>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing
                             |elit. Eos aliquam 
                             |corporis quibusdam rerum dolor.</p>
                    </div>
                </div>
            </div>
        </div>

            <!--#####################################    footer   ###################################-->

        <div class="container" id="footrcont">
            <div class="row" id="footr">
                <div class="col-4">
                    <h2>Company</h2>
                    <ul>
                        <li>About</li>
                        <li>Blogs</li>
                        <li>Career</li>
                        <li>Contact</li>
                    </ul>
                </div>
                <div class="col-4">
                    <h2>Developers</h2>
                    <ul>
                        <li>About</li>
                        <li>Blogs</li>
                        <li>Career</li>
                        <li>Contact</li>
                    </ul>
                </div>
                <div class="col-4">
                    <h2>Other</h2>
                    <ul>
                        <li>Help and Support</li>
                        <li>Teach on M<sup>2</sup> Learning</li>
                        <li>Privacy Policy</li>
                        <li>Terms and Conditions</li>
                    </ul>
                </div>
            </div>
        </div>
        <script src="../static/js files/home.js"></script>
    </body>
</html>