<!DOCTYPE html>
<html>

    <head>
        <title>My Website</title>
        <link rel="stylesheet" href="../static/css files/homelogin.css">
    </head>



    <!--#####################  NAVIGATION BAR  #########################-->
    <body id="body">
        <script  src="https://www.gstatic.com/firebasejs/8.0.0/firebase-app.js"></script>
        <script  src="https://www.gstatic.com/firebasejs/8.0.0/firebase-analytics.js"></script>
        <script  src="https://www.gstatic.com/firebasejs/8.0.0/firebase-auth.js"></script>
        <script  src="https://www.gstatic.com/firebasejs/8.0.0/firebase-firestore.js"></script>
        <script type = module>
            |      const firebaseConfig = {
            |          apiKey: "AIzaSyC2HnKPOcJuoQRHLy_qPlQHsEdPOmTcDIQ",
            |          authDomain: "m2learning.firebaseapp.com",
            |          databaseURL: "https://m2learning-default-rtdb.firebaseio.com",
            |          projectId: "m2learning",
            |          storageBucket: "m2learning.appspot.com",
            |          messagingSenderId: "169205910629",
            |          appId: "1:169205910629:web:dcff87a56454550e244a8c",
            |          measurementId: "G-JTTX230017"
            |        };

            |     // Initialize Firebase
            |    firebase.initializeApp(firebaseConfig);    
        </script>
        <script type = module>
        |   const auth = firebase.auth();
        |   auth.onAuthStateChanged(user => {
        |      if (user) {
        |        // User is signed in, see docs for a list of available properties
        |        // https://firebase.google.com/docs/reference/js/firebase.User
        |        const uid = user.uid;
        |        console.log("u r logged in");
        |        const bd = document.querySelector('#body');
        |        bd.style.display='block';
        |        // ...
        |      } else {
        |        // User is signed out
        |        console.log("u r logged out");
        |        window.location.href = "/";
        |        // ...
        |      }
        |    });
        </script>
        <nav>
            <ul class="topnav" id="dropmenu">
                <li><a href="/homelogin">Home</a></li>
                <li><a href="/categories">Courses</a></li>
                <li><a href="https://m2learning.firebaseapp.com/__/auth/action?mode=action&oobCode=code">My Stuff</a></li>
                <li><a href="/profilelogin">Profile</a></li>
                <li><a href="/about">About us</a></li> 
                <li class="dropdown"><a href="javascript:void(0);"
                   | onclick="dropnav()">&#9776;</a></li>
                <li class="bar" id="logout"><a href="/home">Logout</a></li>
                <li class="bar"><input type="text" placeholder="Search for courses"></li>
                
                
            </ul>
        </nav>


        <!--######################## SECTION 1 Headings ################-->


        <div class="container" id="sec1">
            <div class="row">

                <div class="col-12" id="head">
                   <h1>M<sup>2</sup> Learning</h1>
                   <h1>Learn Together</h1>
                </div>

            </div>
        </div>

            <!--################### Section 2 contact and image  ###########-->


        <div class="container" id="sec2">
            <div class="row">

                <div class="col-0" id="whyus">
                    <h2>Why US?</h2>
                    <ul>
                        <li>Affordable</li>
                        <li>Live Mentoring</li>
                        <li>Fun and exciting</li>
                        <li>Ask doubts easily</li>
                        <li>Vast categories of courses</li>
                        <li>Get all data on your hands</li>
                    </ul>        
                </div>

                <div class="col-7" id="slide">
                    <div class="box">
                        <img src="../static/image files/learn.jpg" alt="LEARN WITH US">
                    </div>
                </div>

                <div class="col-0" id="contus">
                    <div class="contact">
                        <h2>Contact Us</h2>
                        <form action="" class="contform">
                            <label for="name">Name</label><br>
                            <input type="text" id="name" name="your name" placeholder="Your Name"><br>
                            <label for="email">Email</label><br>
                            <input type="email" id="email" name="mail" placeholder="Your Email">
                        </form>
                        <button class="submit"><a href="#Submit">Submit</a></button>
                    </div>
                </div>
                
            </div> 
        </div>

            <!--************************** SECTION-3 CATEGORIES ***************-->

        <div class="container" id="sec3">
            <div class="row">
                <div class="col-12"><h2>Our Top Categories</h2></div>
                
                <div class="col-4">
                    <div class="catbox">
                        <img src="../static/image files/web.jfif" alt="Web Development">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing
                             |elit. Eos aliquam 
                             |corporis quibusdam rerum dolor.</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="catbox">
                        <img src="../static/image files/typing.jfif" alt="Web Development">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing
                             |elit. Eos aliquam 
                             |corporis quibusdam rerum dolor.</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="catbox">
                        <img src="../static/image files/design.jfif" alt="Web Development">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing
                             |elit. Eos aliquam 
                             |corporis quibusdam rerum dolor.</p>
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="col-4">
                    <div class="catbox">
                        <img src="../static/image files/after.jfif" alt="Web Development">
                        <p>Lorem ipsum dolor sit, amet consectetur 
                            |adipisicing elit. Eos aliquam 
                            |corporis quibusdam rerum dolor.</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="catbox">
                        <img src="../static/image files/popular.png" alt="Web Development">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing
                             |elit. Eos aliquam 
                             |corporis quibusdam rerum dolor.</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="catbox">
                        <img src="../static/image files/english.jfif" alt="Web Development">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing
                             |elit. Eos aliquam 
                             |corporis quibusdam rerum dolor.</p>
                    </div>
                </div>

            </div>
        </div>

            <!--#####################################    footer   ###################################-->

        <div class="container" id="footrcont">
            <div class="row" id="footr">
                <div class="col-4">
                    <h2>Company</h2>
                    <ul>
                        <li>About</li>
                        <li>Blogs</li>
                        <li>Career</li>
                        <li>Contact</li>
                    </ul>
                </div>
                <div class="col-4">
                    <h2>Developers</h2>
                    <ul>
                        <li>About</li>
                        <li>Blogs</li>
                        <li>Career</li>
                        <li>Contact</li>
                    </ul>
                </div>
                <div class="col-4">
                    <h2>Other</h2>
                    <ul>
                        <li>Help and Support</li>
                        <li>Teach on M<sup>2</sup> Learning</li>
                        <li>Privacy Policy</li>
                        <li>Terms and Conditions</li>
                    </ul>
                </div>
            </div>
        </div>
        <script type = module>
        |
        |const auth = firebase.auth();
        |const logout = document.querySelector('#logout');
        |logout.addEventListener('click',(e)=>{
        |    e.preventDefault();
        |  
        |   auth.signOut();
        |});
        </script>
        <script src="../static/js files/home.js"></script>
    </body>
</html>