<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css files/mystuff.css">
    <title>Document</title>
</head>
<body id="body">
    <script>
    |document.addEventListener("DOMContentLoaded", () => {
    |//    window.post = function(usr) {
    |//    return fetch("/profile", {method: "POST"});
    |//   console.log("domloaded")
    |//       }
    |});
    </script>
    <script  src="https://www.gstatic.com/firebasejs/8.0.0/firebase-app.js"></script>
    <script  src="https://www.gstatic.com/firebasejs/8.0.0/firebase-analytics.js"></script>
    <script  src="https://www.gstatic.com/firebasejs/8.0.0/firebase-auth.js"></script>
    <script  src="https://www.gstatic.com/firebasejs/8.0.0/firebase-firestore.js"></script>
    <script type = module>
        |      const firebaseConfig = {
        |          apiKey: "AIzaSyC2HnKPOcJuoQRHLy_qPlQHsEdPOmTcDIQ",
        |          authDomain: "m2learning.firebaseapp.com",
        |          databaseURL: "https://m2learning-default-rtdb.firebaseio.com",
        |          projectId: "m2learning",
        |          storageBucket: "m2learning.appspot.com",
        |          messagingSenderId: "169205910629",
        |          appId: "1:169205910629:web:dcff87a56454550e244a8c",
        |          measurementId: "G-JTTX230017"
        |        };
        |     // Initialize Firebase
        |    firebase.initializeApp(firebaseConfig);
           
    </script>
    
    <script type = module>
    |   const auth = firebase.auth();
    |   auth.onAuthStateChanged(user => {
    |      if (user) {
    |        // User is signed in, see docs for a list of available properties
    |        // https://firebase.google.com/docs/reference/js/firebase.User
    |        const uid = user.uid;
    |        console.log("u r logged in");
    |        const bd = document.querySelector('#body');
    |        //#######################################################
    |        //#######################################################
    |        bd.style.display='block';
    |        // ...
    |      } else {
    |        // User is signed out
    |        console.log("u r logged out");
    |        window.location.href = "/";
    |        // ...
    |      }
    |    });
    </script>
    <nav>
        <ul class="topnav" id="dropmenu">
            <li><a href="/homelogin">Home</a></li>
            <li><a href="/categories">Courses</a></li>
            <li><a href="/mystuff">My Stuff</a></li>
            <li><a href="/profilelogin">Profile</a></li>
            <li><a href="/about">About us</a></li> 
            <li class="dropdown"><a href="javascript:void(0);" onclick="dropnav()">&#9776;</a></li>
            <li class="bar" id="logout"><a href="/">Logout</a></li>
            <form method="post" action="/search">
                    <button class="bar">Search</button>
                    <input name="cname" class="bar" type="text" placeholder="Search for courses">
            </form>
        </ul>
    </nav>
    ul.coursebox
        each val,index in products
            if(val!=" ")
                .row 
                    a.col-4(href='/'+ids[index])= val
    <script src="../static/js files/home.js"></script>
</body>
</html>