<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=auto, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css files/signin.css">
    <title>Document</title>
</head>
<body>
  
    <nav>
        <ul class="topnav" id="dropmenu">
            <li><a href="/">Home</a></li>
            <li><a href="/categories">Courses</a></li>
            <li><a href="/about">About us</a></li> 
            <li class="dropdown"><a href="javascript:void(0);"
               | onclick="dropnav()">&#9776;</a></li>
            <li class="topnav-right"><a 
               | href="/signup">Sign up</a></li>
            <li class="topnav-right"><a 
               | href="">Sign in</a></li>
            <form method="post" action="/search">
                    <button class="bar">Search</button>
                    <input name="cname" class="bar" type="text" placeholder="Search for courses">
            </form>
            
        </ul>
    </nav>



    |<!--######################## SECTION 1 Headings ################-->
    <div class="box">
        <div class="link"><h2>Welcome Student</h2></div>
        <h2 class="signh1">Please Enter Your Details:-</h2>
        <form id="user-login">
            <label for="username" class="lbl">Username  </label>
            <input class="usrinput" type="text" name="usrnm" id="usrnmlogin" placeholder="Enter your username">
            <label for="username" class="lbl">Password  </label>
            <input class="usrinput" type="password" name="pswrd" id="pswrdlogin" placeholder="Enter your Password">
            <button class="signinbutton">Sign in</button>
        </form>
        <div class="linknew" style="display=none "><a href="/signup">Username and password dosen't match<br>kindly signup or check your internet connection</a></div>
        <div class="link"><a href="/signup">Don't have an account</a></div>
    </div>
    

    |<!--###################################firebase section####################-->
    <script  src="https://www.gstatic.com/firebasejs/8.0.0/firebase-app.js"></script>
    <script  src="https://www.gstatic.com/firebasejs/8.0.0/firebase-analytics.js"></script>
    <script  src="https://www.gstatic.com/firebasejs/8.0.0/firebase-auth.js"></script>
    <script  src="https://www.gstatic.com/firebasejs/8.0.0/firebase-firestore.js"></script>

    <script type = module>
        |      const firebaseConfig = {
        |          apiKey: "AIzaSyC2HnKPOcJuoQRHLy_qPlQHsEdPOmTcDIQ",
        |          authDomain: "m2learning.firebaseapp.com",
        |          databaseURL: "https://m2learning-default-rtdb.firebaseio.com",
        |          projectId: "m2learning",
        |          storageBucket: "m2learning.appspot.com",
        |          messagingSenderId: "169205910629",
        |          appId: "1:169205910629:web:dcff87a56454550e244a8c",
        |          measurementId: "G-JTTX230017"
        |        };
        |     // Initialize Firebase
        |    firebase.initializeApp(firebaseConfig);
    </script>
    <script type = module>
        |const signupForm = document.querySelector('#user-login');
        |signupForm.addEventListener('submit',(e)=>{
        |           e.preventDefault();
        |   
        |    const email = signupForm['usrnmlogin'].value;
        |    const password = signupForm['pswrdlogin'].value;
        |   const auth = firebase.auth();
        |   auth.signInWithEmailAndPassword(email, password)
        |  .then((userCredential) => {
        |    // Signed in 
        |    const user = userCredential.user;
        |       console.log("signedin")
        |    var url = "/signin";
        |    var test=0;
        |   const Http = new XMLHttpRequest();
        |   Http.open('post', url);
        |   Http.setRequestHeader("Content-Type", "text/plain");
        |   var obj = {
        |               objusrnm : email,  
        |              }
        |   var objstr = JSON.stringify(obj);
        |   console.log(objstr);
        |    Http.send(objstr);
        |    Http.onload = function() {
        |    alert(Http.response); 
        |   };
        

        |    var url1 = "/signinfaculty";
        |    var test=0;
        |   const Http1 = new XMLHttpRequest();
        |   Http1.open('post', url1);
        |   Http1.setRequestHeader("Content-Type", "text/plain");
        |   var obj1 = {
        |               objusrnm : email,  
        |              }
        |   var objstr1 = JSON.stringify(obj1);
        |   console.log(objstr1);
        |    Http1.send(objstr1);
        |    Http1.onload = function() {
        |    alert(Http1.response); 
        |   };


        |    var url2 = "/signinadmin";
        |    var test=0;
        |   const Http2 = new XMLHttpRequest();
        |   Http2.open('post', url2);
        |   Http2.setRequestHeader("Content-Type", "text/plain");
        |   var obj2 = {
        |               objusrnm : email,  
        |              }
        |   var objstr2 = JSON.stringify(obj2);
        |   console.log(objstr2);
        |    Http2.send(objstr2);
        |    Http2.onload = function() {
        |    alert(Http2.response); 
        |   };

        |    var url3 = "/signinsupadmin";
        |    var test=0;
        |   const Http3 = new XMLHttpRequest();
        |   Http3.open('post', url3);
        |   Http3.setRequestHeader("Content-Type", "text/plain");
        |   var obj3 = {
        |               objusrnm : email,  
        |              }
        |   var objstr3 = JSON.stringify(obj3);
        |   console.log(objstr3);
        |    Http3.send(objstr3);
        |    Http3.onload = function() {
        |    alert(Http3.response); 
        |   };


        |     window.location.href="/midpage";
        |    signupForm.reset();
        |    // ...
        |  })
        |  .catch((error) => {
        |    const linknew = document.querySelector('.linknew');
        |    linknew.style.display="block";
        |    const errorCode = error.code;
        |    const errorMessage = error.message;
        |    // ..
        |  });
        |   
        |});
    </script>
   
</body>
</html>