nav{
    width: 100%;
    margin: 0;
}

nav ul{
    background-color:#666;
    overflow: hidden;/*overflowing objects will be hidden*/
    margin: 0;
    padding: 0;
}

ul.topnav li{
    list-style: none;
    float:left;
}

ul.topnav input[type=text] {
    padding: 6px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 15px;
  }
ul.topnav .bar{
    list-style: none;
    float: right;
    margin-right: 2%;
}
button.bar{
    border-radius: 20%;
    background-color: #fff;
    color: #666;
    margin-top: 10px;
}
ul.topnav li.topnav-right{
    list-style: none;
    float: right;
}

ul.topnav li.bar{
    list-style: none;
    float: right;
    margin-right: 2%;
}

ul.topnav li a{
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color:azure;
    border-radius: 15px;
    transition: 0.3s 0.3s ease-in;
}

ul.topnav li a:hover{
    background-color:antiquewhite;
    color:chocolate;
}

ul.topnav li.dropdown{
    display: none;
}

ul.topnav li input[type=text] {
    padding: 6px;
    border: none;
    border-radius: 10px;
    margin: 3%;
    font-size: 15px;
  }
/*############## All Sections    #############*/
body{
    margin: 0;
    padding: 0;
}
.sec1{
    background-color: aliceblue;
    text-align: center;
    display: flex;
    justify-content: center;
    min-height: 562px;
    align-items: center;
}
.sec1 p{
    color: #666;
}
.para{
    width: 50%;
}
@media screen and (max-width: 680px ) {
    ul.topnav li:not(:nth-child(8n+1)){
        display: none;
    }    

    ul.topnav li.dropdown{
        display: block;
        float: right;
    }

    ul.topnav.reposition{
        position: relative;
    }

    ul.topnav.reposition li{
        display:inline;
        float: none;
    }

    ul.topnav.reposition li a{
        display: block;
        text-align: left;
    }

    ul.topnav.reposition li.dropdown a{
        position: absolute;
        top: 0;
        right: 0;
    }

    ul.topnav.reposition li.bar input{
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 8%;
        margin-top: 1%;
    }
}